@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body{
    margin: 0;
    padding: 0;

    }

#c{
    display: flex;
    margin: auto;
    border: 10px solid rgb(0, 0, 0);
    -webkit-box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.84); 
    box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.84);
}
#stat{
    margin: 10px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
}