@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body{
    margin: 0;
    padding: 0;

    }

#c{
    display: flex;
    margin: auto;
}
#stat{
    margin: 10px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
}